input{
    border: solid 1px #616161;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right:#0B8043;
}

button{
    border: solid 1px #0B8043;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    background-color:#0B8043;
    color:black;
    transition: 500ms background,color,border-color;
}

button:hover{
    color:#0B8043;
    background: black;
    border-color: black;
}

input:focus, button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 
.searcher-flex{
    margin-top: 3vh;
    border-radius: 5px;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.flex-item p{
    color: red;
}
@media only screen and (min-width: 375px){
    .flex-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}