body{
    font-size: 1.2rem;
}
span{
    font-size: 1em;
}
.container-ordenacao {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 16px 21px 25px -12px rgba(0,0,0,0.75);
}
.container-ordenacao button{
    border-radius: 25px;
    margin:0px 0.5vw;
}


@media only screen and (min-width:375px){
    body{
        font-size: 1.4rem;
    }
    span{
        font-size: 1.2em;
    }
} 

@media only screen and (min-width:768px){
    body{
        font-size: 1.6rem;
    }
    span{
        font-size: 1.4em;
    }
} 
