body{
    font-size: 1.2rem;
}
span{
    font-size: 1em;
}
.container-ordenacao {
    margin-left: 20vw;
}
.container-ordenacao button{
    border-radius: 25px;
}


@media only screen and (min-width:375px){
    body{
        font-size: 1.4rem;
    }
    span{
        font-size: 1.2em;
    }
    .container-ordenacao {
        margin-left: 5vw;
    }
} 

@media only screen and (min-width:768px){
    body{
        font-size: 1.6rem;
    }
    span{
        font-size: 1.4em;
    }
} 
