.actives-container h2{
    margin-top: 5vh;
    text-align: center;
    font-size: 1.6rem;
}
.actives-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.actives-profile  a{
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color:black;
    border-radius: 25px;
}
.actives-profile a:hover{
    box-shadow: 16px 21px 25px -12px rgba(0,0,0,0.75);
}
.actives-avatar{
    width: 30vw;
}
.actives-info{
    width: 70vw;
}